raycast/
**/*.log
yarn/global
NvChadcpp.bak
fish/functions
github-copilot
github-copilot/hosts.json
thefuck/__pycache__
zed/embeddings/stable
fontforge
fontforge
fontforge
fontforge
fontforge/FontsOpenAtLastQuit
fontforge/FontsOpenAtLastQuit
zed/embeddings/preview
JetBrains/PermanentDeviceId
JetBrains/feature_usage_event_log_salt
fontforge
thefuck/.DS_Store
zed/conversations
zed/.DS_Store
zed/.tmp07eILJ
.DS_Store
.tmp*
.DS*
qBittorrent
