raycast/
**/*.log
yarn/global
NvChadcpp.bak
fish/functions
github-copilot
github-copilot/hosts.json
thefuck/__pycache__
zed/embeddings/stable
fontforge
fontforge
fontforge
fontforge
fontforge/FontsOpenAtLastQuit
